<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties" />
	
	<settings> <!-- setting은 environments보다 상위라서 보다 위에 적어줘야함 -->
		<setting name="jdbcTypeForNull" value="NULL"/> <!-- 대문자 NULL로 써야함 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 언더바형식을 카멜케이스로 자동으로 바꿔줌 -->
	</settings>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED"> <!-- 커넥션 풀을 만들겠다 -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers> <!-- 실제 mapper 연결, 베이스 패키지-->
		<package name="co.micol.prj"/>		
	</mappers>

</configuration>